/** Page Synopsis */


div.hero-unit {
	/* background: url(http://www.filestoa.com/img/background/sfbay_FSC2540_1280.png) no-repeat top left fixed; */
	background: url(http://www.filestoa.com/img/background/olympicpark_ESC8852_1280.png) no-repeat top left fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

